<div class="card">
  <form class="skill-form" [formGroup]="skillFormGroup" (ngSubmit)="submit()">
    <input
      [readonly]="disable"
      formControlName="name"
      pInputText
      placeholder="Name of skill"
    />
    <div
      class="validation-messages"
      *ngIf="skillFormGroup.controls['name'].invalid && skillFormGroup.controls['name'].dirty"
    >
      <div *ngIf="skillFormGroup.controls['name'].errors?.['required']">
        Name is required!
      </div>
      <div *ngIf="skillFormGroup.controls['name'].errors?.['minlength']">
        Name must be longer than 0 characters!
      </div>
      <div *ngIf="skillFormGroup.controls['name'].errors?.['maxlength']">
        Name must be shorter than 25 characters!
      </div>
    </div>
    <input
      [readonly]="disable"
      formControlName="description"
      pInputText
      placeholder="Description of skill"
    />
    <div
      class="validation-messages"
      *ngIf="skillFormGroup.controls['description'].invalid && skillFormGroup.controls['description'].dirty"
    >
      <div *ngIf="skillFormGroup.controls['description'].errors?.['required']">
        Description is required!
      </div>
      <div *ngIf="skillFormGroup.controls['description'].errors?.['minlength']">
        Description must be longer than 5 characters!
      </div>
      <div *ngIf="skillFormGroup.controls['description'].errors?.['maxlength']">
        Description must be shorter than 100 characters!
      </div>
    </div>
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel(false)" />
      <p-button
        *ngIf="!disable"
        severity="success"
        [disabled]="skillFormGroup.invalid"
        label="Submit"
        type="submit"
      />
    </div>
  </form>
</div>
