<h1>
  Login
</h1>
<form class="auth-form" [formGroup]="authFormGroup" (ngSubmit)="submit()">
  <input formControlName="username" pInputText placeholder="Username" />
  <div
    class="validation-messages"
    *ngIf="authFormGroup.controls['username']?.invalid && authFormGroup.controls['username']?.dirty"
  >
    <span
      class="block"
      *ngIf="authFormGroup.controls['username'].errors?.['required']"
      >Username is required!</span
    >
    <span
      class="block"
      *ngIf="authFormGroup.controls['username'].errors?.['minLength']"
      >Username must be longer than 5 characters!!</span
    >
    <span
      class="block"
      *ngIf="authFormGroup.controls['username'].errors?.['maxLength']"
      >Username must be shorter than 100 characters!!</span
    >
  </div>
  <div class="password-input">
    <input
      formControlName="password"
      pInputText
      placeholder="Password"
      type="{{ showPassword ? 'text' : 'password' }}"
    />

    <p-button
      [icon]="icon"
      [rounded]="true"
      (onClick)="togglePasswordVisibility()"
      [severity]="severity ? 'success' : 'danger'"
      [pTooltip]="toggleVisibilityTooltip"
      tooltipPosition="top"
    />
    <ng-template #toggleVisibilityTooltip>
      <div class="flex align-items-center">
        <span>{{ tooltipMessage }}</span>
      </div>
    </ng-template>
  </div>
  <div
    class="validation-messages"
    *ngIf="authFormGroup.controls['password']?.invalid && authFormGroup.controls['password']?.dirty"
  >
    <span
      class="block"
      *ngIf="authFormGroup.controls['password'].errors?.['required']"
      >Password is required!</span
    >
  </div>
  <p-button [disabled]="authFormGroup.invalid" label="Submit" type="submit" />
</form>
