@import "primeicons/primeicons.css";

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.validation-messages {
  display: flex;
  flex-direction: column;
  color: red;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

.custom-column {
  display: flex;
  flex-direction: column;
}

.p-datatable-hoverable
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  background: #2563eb !important;
  color: white !important;
}
