@import "primeicons/primeicons.css";

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.validation-messages {
  display: flex;
  flex-direction: column;
  color: red;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

.custom-column {
  display: flex;
  flex-direction: column;
}

.p-datatable-hoverable
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  background: #2563eb !important;
  color: white !important;
}

html {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.progress-spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}
