<div class="card">
  <form
    class="employee-form"
    [formGroup]="employeeFormGroup"
    (ngSubmit)="submit()"
  >
    <div class="custom-row">
      <div class="custom-column">
        <input
          formControlName="name"
          pInputText
          placeholder="Name of employee"
        />
        <div
          class="validation-messages"
          *ngIf="employeeFormGroup.controls['name'].invalid && employeeFormGroup.controls['name'].touched"
        >
          <div *ngIf="employeeFormGroup.controls['name'].errors?.['required']">
            Name is required!
          </div>
          <div *ngIf="employeeFormGroup.controls['name'].errors?.['minlength']">
            Name must be longer than 5 characters!
          </div>
          <div *ngIf="employeeFormGroup.controls['name'].errors?.['maxlength']">
            Name must be shorter than 25 characters!
          </div>
        </div>
      </div>
      <div class="custom-column">
        <input
          formControlName="surname"
          pInputText
          placeholder="Surname of employee"
        />
        <div
          class="validation-messages"
          *ngIf="employeeFormGroup.controls['surname'].invalid && employeeFormGroup.controls['surname'].touched"
        >
          <div
            *ngIf="employeeFormGroup.controls['surname'].errors?.['required']"
          >
            Surname is required!
          </div>
          <div
            *ngIf="employeeFormGroup.controls['surname'].errors?.['minlength']"
          >
            Surname must be longer than 5 characters!
          </div>
          <div
            *ngIf="employeeFormGroup.controls['surname'].errors?.['maxlength']"
          >
            Surname must be shorter than 25 characters!
          </div>
        </div>
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        <input
          pInputText
          formControlName="email"
          placeholder="Email of employee"
        />
        <div
          class="validation-messages"
          *ngIf="employeeFormGroup.controls['email'].invalid && employeeFormGroup.controls['email'].touched"
        >
          <div *ngIf="employeeFormGroup.controls['email'].errors?.['required']">
            Email address is required!
          </div>
          <div *ngIf="employeeFormGroup.controls['email'].errors?.['email']">
            Email address is not valid!
          </div>
          <div
            *ngIf="employeeFormGroup.controls['email'].errors?.['maxlength']"
          >
            Email address must be shorter than 50 characters!
          </div>
        </div>
      </div>
      <div class="custom-column">
        <p-select
          [disabled]="disable"
          [virtualScroll]="true"
          appendTo="body"
          formControlName="department"
          [options]="departments"
          optionLabel="name"
          placeholder="Select a Department"
          dataKey="id"
        />
      </div>
    </div>
    <p-multiSelect
      [disabled]="disable"
      appendTo="body"
      [options]="skills"
      formControlName="selectedSkills"
      optionLabel="name"
      placeholder="Select Skills"
    />
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel(false)" />
      <p-button
        *ngIf="!disable"
        severity="success"
        [disabled]="employeeFormGroup.invalid"
        label="Submit"
        type="submit"
      />
    </div>
  </form>
</div>
