<div class="card">
  <form
    class="employee-form"
    [formGroup]="employeeFormGroup"
    (ngSubmit)="submit()"
  >
    <div class="custom-row">
      <div class="custom-column">
        <input
          formControlName="name"
          pInputText
          [placeholder]="namePlaceholder"
        />
        @if(isInvalid('name')) {
        <app-validation-messages
          [control]="employeeFormGroup.controls['name']"
          [messages]="{
            required: requiredTranslation('COMMON.NAME'),
            minlength: minLengthTranslation('COMMON.NAME', 5),
            maxlength: maxLengthTranslation('COMMON.NAME', 25)
          }"
        />
        }
      </div>
      <div class="custom-column">
        <input
          formControlName="surname"
          pInputText
          [placeholder]="surnamePlaceholder"
        />
        @if(isInvalid('surname')) {
        <app-validation-messages
          [control]="employeeFormGroup.controls['surname']"
          [messages]="{
            required: requiredTranslation('EMPLOYEE.LIST.TABLE.SURNAME'),
            minlength: minLengthTranslation('EMPLOYEE.LIST.TABLE.SURNAME', 5),
            maxlength: maxLengthTranslation('EMPLOYEE.LIST.TABLE.SURNAME', 25)
          }"
        />
        }
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        <input
          pInputText
          formControlName="email"
          [placeholder]="emailPlaceholder"
        />
        @if(isInvalid('email')) {
        <app-validation-messages
          [control]="employeeFormGroup.controls['email']"
          [messages]="{
            required: requiredTranslation('EMPLOYEE.LIST.TABLE.EMAIL'),
            email: emailTranslation,
            maxlength: maxLengthTranslation('EMPLOYEE.LIST.TABLE.EMAIL', 50)
          }"
        />
        }
      </div>
    </div>
    @if (viewModel(); as vm) {
    <div>
      <div class="custom-row">
        <div class="custom-column">
          <p-select
            [disabled]="disable"
            [virtualScroll]="true"
            appendTo="body"
            formControlName="department"
            [options]="vm.departments"
            optionLabel="name"
            [placeholder]="selectDepratment"
            dataKey="id"
          />
        </div>
        <div class="custom-column">
          <p-multiSelect
            [disabled]="disable"
            appendTo="body"
            [options]="vm.skills"
            formControlName="skills"
            optionLabel="name"
            [placeholder]="selectSkills"
          />
        </div>
      </div>
      @if(vm.loading) {
      <div class="card flex justify-center progress-spinner">
        <p-progress-spinner [ariaLabel]="loadingLabel" />
      </div>
      }
    </div>
    }
    <div class="action-buttons">
      <p-button severity="danger" [label]="cancelLabel" (onClick)="cancel()" />
      @if(!disable) {
      <p-button
        severity="success"
        [disabled]="employeeFormGroup.invalid"
        [label]="submitLabel"
        type="submit"
      />
      }
    </div>
  </form>
</div>
