@if(viewModel(); as vm) {
<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">{{'PROJECT.DETAILS.GENERAL.TITLE' |translate}}</p-tab>
      <p-tab value="1">{{'PROJECT.DETAILS.SKILLS.TITLE' |translate}}</p-tab>
      <p-tab value="2">{{'PROJECT.DETAILS.EMPLOYEES.TITLE' |translate}}</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <h1>{{'PROJECT.DETAILS.GENERAL.SUBTITLE' |translate}} {{ vm.project.id }}</h1>
        <label for="name">{{'PROJECT.DETAILS.GENERAL.NAME' |translate}}:</label>
        <p id="name">{{ vm.project.name }}</p>
        <label for="name">{{'PROJECT.DETAILS.GENERAL.CODE' |translate}}:</label>
        <p id="name">{{ vm.project.code }}</p>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p-table
          [rowHover]="true"
          [value]="vm.project.skills ?? []"
          [tableStyle]="{ 'min-width': '70rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th id="skillName">{{'PROJECT.DETAILS.SKILLS.NAME' |translate}}</th>
              <th id="description">{{'PROJECT.DETAILS.SKILLS.DESCRIPTION' |translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-skill>
            <tr>
              <td>{{ skill.name }}</td>
              <td>{{ skill.description }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      <p-tabpanel value="2">
        <p-table
          [rowHover]="true"
          [value]="vm.project.employees ?? []"
          [tableStyle]="{ 'min-width': '70rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th id="employeeName">{{'PROJECT.DETAILS.EMPLOYEES.NAME' |translate}}</th>
              <th id="surname">{{'PROJECT.DETAILS.EMPLOYEES.SURNAME' |translate}}</th>
              <th id="actions">{{'PROJECT.DETAILS.EMPLOYEES.ACTIONS' |translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employee>
            <tr>
              <td>{{ employee.name }}</td>
              <td>{{ employee.surname }}</td>
              <td>
                <p-button
                  icon="pi pi-trash"
                  [rounded]="true"
                  (onClick)="unassignEmployee(employee.id, vm.project)"
                  severity="danger"
                  [pTooltip]="deleteTooltip"
                  tooltipPosition="top"
                />
                <ng-template #deleteTooltip>
                  <div class="flex align-items-center">
                    <span>{{'PROJECT.DETAILS.EMPLOYEES.UNASSIGN' |translate}}</span>
                  </div>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
  <div class="action-buttons">
    <p-button [label]="backLabel" (onClick)="back()" />
  </div>
</div>
}
