<div class="card">
  <h1 *ngIf="isLoggin; else elseBlock">Login</h1>
  <ng-template #elseBlock>
    <h1>
      Register new user
    </h1>
  </ng-template>
  <form class="auth-form" [formGroup]="authFormGroup" (ngSubmit)="submit()">
    <input formControlName="username" pInputText placeholder="Username" />
    <div
      class="validation-messages"
      *ngIf="authFormGroup.controls['username']?.invalid && authFormGroup.controls['username']?.touched"
    >
      <span
        class="block"
        [ngClass]="{'text-primary': authFormGroup.controls['username'].errors?.['required']}"
        >Username is required!</span
      >
    </div>
    <div class="password-input">
      <input
        formControlName="password"
        pInputText
        placeholder="Password"
        type="{{ showPassword ? 'text' : 'password' }}"
      />

      <p-button
        icon="{{icon}}"
        [rounded]="true"
        (onClick)="togglePasswordVisibility()"
        severity="{{ severity }}"
        [pTooltip]="toggleVisibilityTooltip"
        tooltipPosition="top"
      />
      <ng-template #toggleVisibilityTooltip>
        <div class="flex align-items-center">
          <span>{{ tooltipMessage }}</span>
        </div>
      </ng-template>
    </div>
    <div
      class="validation-messages"
      *ngIf="authFormGroup.controls['password']?.invalid && authFormGroup.controls['password']?.touched"
    >
      <span
        class="block"
        *ngIf="authFormGroup.controls['password'].errors?.['required']"
        >Password is required!</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['password'].value?.match('^(?=.*[A-Z])')"
        >At least one uppercase letter.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['password'].value?.match('(?=.*[a-z])')"
        >At least one lowercase letter.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['password'].value?.match('(.*[0-9].*)')"
        >At least one digit.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['password'].value?.match('(?=.*[!@#$%^&*])')"
        >At least one special character.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['password'].value?.match('.{8,}')"
        >At least 8 characters long.</span
      >
    </div>
    <div class="confirm-password-input" *ngIf="!isLoggin">
      <input
        formControlName="confirmPassword"
        pInputText
        placeholder="Confirm Password"
        type="{{ showConfirmPassword ? 'text' : 'password' }}"
      />

      <p-button
        icon="{{confirmIcon}}"
        [rounded]="true"
        (onClick)="toggleConfirmPasswordVisibility()"
        severity="{{ confirmSeverity }}"
        [pTooltip]="toggleConfirmVisibilityTooltip"
        tooltipPosition="top"
      />
      <ng-template #toggleConfirmVisibilityTooltip>
        <div class="flex align-items-center">
          <span>{{ tooltipConfirmMessage }}</span>
        </div>
      </ng-template>
    </div>
    <div
      class="validation-messages"
      *ngIf="authFormGroup.controls['confirmPassword']?.invalid && authFormGroup.controls['confirmPassword']?.touched"
    >
      <span
        class="block"
        *ngIf="authFormGroup.controls['confirmPassword'].errors?.['required']"
        >Password is required!</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['confirmPassword'].value?.match('^(?=.*[A-Z])')"
        >At least one uppercase letter.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['confirmPassword'].value?.match('(?=.*[a-z])')"
        >At least one lowercase letter.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['confirmPassword'].value?.match('(.*[0-9].*)')"
        >At least one digit.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['confirmPassword'].value?.match('(?=.*[!@#$%^&*])')"
        >At least one special character.</span
      >
      <span
        class="block"
        *ngIf="!authFormGroup.controls['confirmPassword'].value?.match('.{8,}')"
        >At least 8 characters long.</span
      >
      <span
        class="block"
        *ngIf="authFormGroup.controls['password'].value !== '' && authFormGroup.controls['confirmPassword'].value !== '' && authFormGroup.errors?.['passwordMissmatch']"
        >Passwords missmatch.
      </span>
    </div>
    <p-multiSelect
      *ngIf="!isLoggin"
      [options]="roles"
      formControlName="selectedRoles"
      optionLabel="name"
      placeholder="Select Roles"
    ></p-multiSelect>
    <p-dropdown  *ngIf="!isLoggin" formControlName="employee" [options]="employees" optionLabel="name" placeholder="Select a Employee" dataKey="id"></p-dropdown>
    <p-button [disabled]="authFormGroup.invalid" label="Submit" type="submit" />
  </form>
</div>
