<div class="card">
  <form
    class="project-form"
    [formGroup]="projectFormGroup"
    (ngSubmit)="submit()"
  >
    <div class="custom-row">
      <div class="custom-column">
        <input
          formControlName="name"
          pInputText
          placeholder="Name of project"
        />
        @if(isInvalid('name')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['name']"
          [messages]="{required: 'Name is required!',
      minlength: 'Name must be longer than 5 characters!',
      maxlength: 'Name must be shorter than 25 characters!'}"
        />
        }
      </div>
      <div class="custom-column">
        <input
          formControlName="code"
          pInputText
          placeholder="Code of project"
        />
        @if(isInvalid('code')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['code']"
          [messages]="{required: 'Name is required!',
      minlength: 'Code must be longer than 3 characters!',
      maxlength: 'Code must be shorter than 5 characters!'}"
        />
        }
      </div>
    </div>
    @if (viewModel(); as vm) {
    <div class="custom-row">
      <div class="custom-column">
        <p-select
          appendTo="body"
          formControlName="department"
          [options]="vm.departments"
          optionLabel="name"
          placeholder="Select a Department"
          dataKey="id"
          (onChange)="getEmployees()"
        />
      </div>
      <div class="custom-column">
        <p-multiSelect
          appendTo="body"
          [options]="vm.skills"
          formControlName="skills"
          optionLabel="name"
          placeholder="Select Skills"
          (onChange)="getEmployees()"
        />
        @if(isInvalid('skills')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['skills']"
          [messages]="{required: 'Skills are required!'}"
        />
        }
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        @if(vm.employees.length) {
        <p-multiSelect
          appendTo="body"
          [options]="vm.employees"
          formControlName="employees"
          optionLabel="name"
          placeholder="Select Employees"
          optionDisabled="active"
        />
        } @if(isInvalid('employees')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['employees']"
          [messages]="{required: 'Employees are required!'}"
        />
        }
      </div>
    </div>
    @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner ariaLabel="loading" />
    </div>
    } }

    <div class="custom-row">
      <div class="custom-column">
        <label for="startDate">Start Date</label>
        <p-datepicker
          appendTo="body"
          formControlName="startDate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          id="startDate"
        />
        @if(isInvalid('startDate')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['startDate']"
          [messages]="{required: 'Start Date is required!'}"
        />
        }
      </div>
      <div class="custom-column">
        <label for="endDate">End Date</label>
        <p-datepicker
          appendTo="body"
          formControlName="endDate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          id="endDate"
        />
        @if(isInvalid('endDate')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['endDate']"
          [messages]="{required: 'End Date is required!'}"
        />
        }
      </div>
    </div>

    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel()" />
      <p-button
        severity="success"
        [disabled]="projectFormGroup.invalid"
        label="Submit"
        type="submit"
      />
    </div>
  </form>
</div>
