<div class="card">
  <form
    class="project-form"
    [formGroup]="projectFormGroup"
    (ngSubmit)="submit()"
  >
    <div class="custom-row">
      <div class="custom-column">
        <input
          formControlName="name"
          pInputText
          [placeholder]="namePlaceholder"
        />
        @if(isInvalid('name')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['name']"
          [messages]="{
            required: requiredTranslation('COMMON.NAME'),
            minlength: minLengthTranslation('COMMON.NAME', 5),
            maxlength: maxLengthTranslation('COMMON.NAME', 25)
          }"
        />
        }
      </div>
      <div class="custom-column">
        <input
          formControlName="code"
          pInputText
          [placeholder]="codePlaceholder"
        />
        @if(isInvalid('code')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['code']"
          [messages]="{
            required: requiredTranslation('PROJECT.FORM.CODE'),
            minlength: minLengthTranslation('PROJECT.FORM.CODE', 5),
            maxlength: maxLengthTranslation('PROJECT.FORM.CODE', 25)
          }"
        />
        }
      </div>
    </div>
    @if (viewModel(); as vm) {
    <div class="custom-row">
      <div class="custom-column">
        <p-select
          appendTo="body"
          formControlName="department"
          [options]="vm.departments"
          optionLabel="name"
          [placeholder]="departmentPlaceholder"
          dataKey="id"
          (onChange)="getEmployees()"
        />
      </div>
      <div class="custom-column">
        <p-multiSelect
          appendTo="body"
          [options]="vm.skills"
          formControlName="skills"
          optionLabel="name"
          [placeholder]="skillsPlaceholder"
          (onChange)="getEmployees()"
        />
        @if(isInvalid('skills')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['skills']"
          [messages]="{ required: requiredTranslation('NAVBAR.FEATURES.SKILLS') }"
        />
        }
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        @if(vm.employees.length) {
        <p-multiSelect
          appendTo="body"
          [options]="vm.employees"
          formControlName="employees"
          optionLabel="name"
          [placeholder]="employeesPlaceholder"
          optionDisabled="active"
        />
        } @if(isInvalid('employees')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['employees']"
          [messages]="{ required: requiredTranslation('NAVBAR.FEATURES.EMPLOYEES') }"
        />
        }
      </div>
    </div>
    @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner ariaLabel="loading" />
    </div>
    } }

    <div class="custom-row">
      <div class="custom-column">
        <label for="startDate">{{ 'PROJECT.FORM.START' | translate }}</label>
        <p-datepicker
          appendTo="body"
          formControlName="startDate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          id="startDate"
        />
        @if(isInvalid('startDate')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['startDate']"
          [messages]="{ required: requiredTranslation('PROJECT.FORM.START')}"
        />
        }
      </div>
      <div class="custom-column">
        <label for="endDate">{{ 'PROJECT.FORM.END' | translate }}</label>
        <p-datepicker
          appendTo="body"
          formControlName="endDate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          id="endDate"
        />
        @if(isInvalid('endDate')) {
        <app-validation-messages
          [control]="projectFormGroup.controls['endDate']"
          [messages]="{ required: requiredTranslation('PROJECT.FORM.END') }"
        />
        }
      </div>
    </div>

    <div class="action-buttons">
      <p-button severity="danger" [label]="cancelLabel" (onClick)="cancel()" />
      <p-button
        severity="success"
        [disabled]="projectFormGroup.invalid"
        [label]="submitLabel"
        type="submit"
      />
    </div>
  </form>
</div>
