<div class="card">
  <p-tabView>
    <p-tabPanel header="General"
      ><h1>Employee {{ employee.id }}</h1>
      <label for="name">Name:</label>
      <p id="name">{{ employee.name }}</p>
      <label for="surname">Surname:</label>
      <p id="surname">{{ employee.surname }}</p>
      <label for="email">Email:</label>
      <p id="email">{{ employee.email }}</p>
      <label for="status">Status:</label>
      <p id="status">{{ employee.active == true ? 'Assaigned' : 'Free' }}</p>
    </p-tabPanel>
    <p-tabPanel header="Roles">
      <p-table
        [value]="employee.user?.roles ?? []"
        [tableStyle]="{ 'min-width': '70rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th id="roleName">Name</th>
            <th id="description">Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr appTableHover>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Skills">
      <p-table
        [value]="employee.skills ?? []"
        [tableStyle]="{ 'min-width': '70rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th id="skillName">Name</th>
            <th id="description">Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-skill>
          <tr appTableHover>
            <td>{{ skill.name }}</td>
            <td>{{ skill.description }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Currently Assigned project"> </p-tabPanel>
    <p-tabPanel header="Projects History">
      <p-table
        [value]="projectsHistory"
        [tableStyle]="{ 'min-width': '70rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th id="projectName">Name</th>
            <th id="code">Code</th>
            <th id="endDate">Assigned on</th>
            <th id="endDate">Unassigned on</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-projectHistory>
          <tr appTableHover>
            <td>{{ projectHistory.project.name }}</td>
            <td>{{ projectHistory.project.code }}</td>
            <td>{{ projectHistory.startDate | date: "dd/MM/yyyy" }}</td>
            <td>{{ projectHistory.endDate | date: "dd/MM/yyyy" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Department" [disabled]="!showTab">
      <div class="card" *ngIf="employee.department">
        <h1>Department {{ employee.department.id }}</h1>
        <label for="name">Name:</label>
        <p id="name">{{ employee.department.name }}</p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Department Employees" [disabled]="!showTab">
      <div *ngIf="employees.length > 0">
        <p-table [value]="employees" [tableStyle]="{ 'min-width': '70rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th id="id">ID</th>
              <th id="name">Name</th>
              <th id="surname">Surname</th>
              <th id="email">Email</th>
              <th id="employmentDate">Employment Date</th>
              <th id="active">Active</th>
              <th id="actions">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employee>
            <tr appTableHover>
              <td>{{ employee.id }}</td>
              <td>{{ employee.name }}</td>
              <td>{{ employee.surname }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.addDate | date: "dd/MM/yyyy hh:mm:ss" }}</td>
              <td>
                <div *ngIf="employee.active; else elseBlock">
                  <i class="pi pi-check"></i>
                </div>
                <ng-template #elseBlock>
                  <i class="pi pi-times"></i>
                </ng-template>
              </td>
              <td>
                <!-- <p-button
                  icon="pi pi-eye"
                  [rounded]="true"
                  (onClick)="goToDetails(employee.id)"
                  severity="success"
                  [pTooltip]="detailsTooltip"
                  tooltipPosition="top"
                />
                <ng-template #detailsTooltip>
                  <div class="flex align-items-center">
                    <span>View Employee</span>
                  </div>
                </ng-template>
                <p-button
                  icon="pi pi-pencil"
                  [rounded]="true"
                  (onClick)="goToEdit(employee.id)"
                  severity="warning"
                  [pTooltip]="editTooltip"
                  tooltipPosition="top"
                />
                <ng-template #editTooltip>
                  <div class="flex align-items-center">
                    <span>Edit Employee</span>
                  </div>
                </ng-template>
                <p-button
                  icon="pi pi-trash"
                  [rounded]="true"
                  (onClick)="showDialog(true, employee.id)"
                  severity="danger"
                  [pTooltip]="deleteTooltip"
                  tooltipPosition="top"
                />
                <ng-template #deleteTooltip>
                  <div class="flex align-items-center">
                    <span>Delete Employee</span>
                  </div>
                </ng-template> -->
              </td>
            </tr>
          </ng-template>
        </p-table>
    
        <div class="card flex justify-content-center">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="page.first"
            [rows]="page.rows"
            [totalRecords]="page.pageCount"
            [rowsPerPageOptions]="[5, 10, 20, 30]"
          ></p-paginator>
        </div>
    
        <!-- <p-dialog
          header="Warning"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '35vw' }"
          [draggable]="false"
          [resizable]="false"
        >
          <p class="m-0">
            Are you sure you want to delete employee with id: {{ employeeId}}
          </p>
          <div class="action-buttons">
            <p-button
              icon="pi pi-check"
              [rounded]="true"
              severity="success"
              (onClick)="delete()"
            ></p-button>
            <p-button
              icon="pi pi-times"
              [rounded]="true"
              severity="danger"
              (onClick)="showDialog(false)"
            ></p-button>
          </div>
        </p-dialog> -->
      </div>
    </p-tabPanel>
  </p-tabView>
  <div class="action-buttons">
    <p-button label="Edit" (onClick)="goToEdit()" />
  </div>
</div>
