<div class="card">
  <form
    class="department-form"
    [formGroup]="departmentFormGroup"
    (ngSubmit)="submit()"
  >
    <input formControlName="name" pInputText [placeholder]="namePlaceholder" />
    @if (isInvalid('name')) {
    <app-validation-messages
      [control]="departmentFormGroup.controls['name']"
      [messages]="{
        required: requiredTranslation('DEPARTMENT.LIST.TABLE.NAME'),
        minlength: minLengthTranslation('DEPARTMENT.LIST.TABLE.NAME', 5),
        maxlength: maxLengthTranslation('DEPARTMENT.LIST.TABLE.NAME', 25)
      }"
    />
    } @if (viewModel(); as vm) { @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner [ariaLabel]="loadingLabel" />
    </div>
    } }
    <div class="action-buttons">
      <p-button severity="danger" [label]="cancelLabel" (onClick)="cancel()" />
      @if(!disable) {
      <p-button
        severity="success"
        [disabled]="departmentFormGroup.invalid"
        [label]="submitLabel"
        type="submit"
      />
      }
    </div>
  </form>
</div>
