<div class="card">
  <form
    class="department-form"
    [formGroup]="departmentFormGroup"
    (ngSubmit)="submit()"
  >
    <input formControlName="name" pInputText placeholder="Name of department" />
    @if (isInvalid('name')) {
    <app-validation-messages
      [control]="departmentFormGroup.controls['name']"
      [messages]="{required: 'Name is required!',
      minlength: 'Name must be longer than 5 characters!',
      maxlength: 'Name must be shorter than 25 characters!'}"
    />
    } @if (viewModel(); as vm) { @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner ariaLabel="loading" />
    </div>
    } }
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel()" />
      @if(!disable) {
      <p-button
        severity="success"
        *ngIf="!disable"
        [disabled]="departmentFormGroup.invalid"
        label="Submit"
        type="submit"
      />
      }
    </div>
  </form>
</div>
