<div class="card">
  <form class="skill-form" [formGroup]="skillFormGroup" (ngSubmit)="submit()">
    <input
      [readonly]="disable"
      formControlName="name"
      pInputText
      [placeholder]="namePlaceholder"
    />
    @if (isInvalid('name')) {
    <app-validation-messages
      [control]="skillFormGroup.controls['name']"
      [messages]="{
        required: requiredTranslation('SKILL.LIST.TABLE.NAME'),
        minlength: minLengthTranslation('SKILL.LIST.TABLE.NAME', 5),
        maxlength: maxLengthTranslation('SKILL.LIST.TABLE.NAME', 25)
      }"
    />
    }
    <input
      [readonly]="disable"
      formControlName="description"
      pInputText
      placeholder="Description of skill"
    />
    @if (isInvalid('description')) {
    <app-validation-messages
      [control]="skillFormGroup.controls['description']"
      [messages]="{
        required: requiredTranslation('SKILL.FORM.DESCRIPTION'),
        minlength: minLengthTranslation('SKILL.FORM.DESCRIPTION', 5),
        maxlength: maxLengthTranslation('SKILL.FORM.DESCRIPTION', 25)
      }"
    />
    } @if (viewModel(); as vm) { @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner ariaLabel="loading" />
    </div>
    } }
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel()" />
      @if(!disable) {
      <p-button
        severity="success"
        [disabled]="skillFormGroup.invalid"
        label="Submit"
        type="submit"
      />
      }
    </div>
  </form>
</div>
