<div class="card">
  <form class="skill-form" [formGroup]="skillFormGroup" (ngSubmit)="submit()">
    <input
      [readonly]="disable"
      formControlName="name"
      pInputText
      placeholder="Name of skill"
    />
    @if (isInvalid('name')) {
    <app-validation-messages
      [control]="skillFormGroup.controls['name']"
      [messages]="{required: 'Name is required!',
      minlength: 'Name must be longer than 5 characters!',
      maxlength: 'Name must be shorter than 25 characters!'}"
    />
    }
    <input
      [readonly]="disable"
      formControlName="description"
      pInputText
      placeholder="Description of skill"
    />
    @if (isInvalid('description')) {
    <app-validation-messages
      [control]="skillFormGroup.controls['description']"
      [messages]="{required: 'Description is required!',
      minlength: 'Description must be longer than 5 characters!',
      maxlength: 'Description must be shorter than 25 characters!'}"
    />
    } @if (viewModel(); as vm) { @if(vm.loading) {
    <div class="card flex justify-center progress-spinner">
      <p-progress-spinner ariaLabel="loading" />
    </div>
    } }
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel()" />
      @if(!disable) {
      <p-button
        severity="success"
        [disabled]="skillFormGroup.invalid"
        label="Submit"
        type="submit"
      />
      }
    </div>
  </form>
</div>
