<div class="card">
  <h1>
    Register new user
  </h1>
  <form class="auth-form" [formGroup]="authFormGroup" (ngSubmit)="submit()">
    <input formControlName="username" pInputText placeholder="Username" />
    @if(isInvalid('username')) {
    <app-validation-messages
      [control]="authFormGroup.controls['username']"
      [messages]="{required: 'Username is required!',
    minlength: 'Username must be longer than 5 characters!',
    maxlength: 'Username must be shorter than 100 characters!'}"
    />
    }
    <div class="password-input">
      <input
        formControlName="password"
        pInputText
        placeholder="Password"
        [type]="showPassword() ? 'text' : 'password'"
      />

      <p-button
        [icon]="icon()"
        [rounded]="true"
        (onClick)="togglePasswordVisibility()"
        [severity]="severity() ? 'success' : 'danger'"
        [pTooltip]="toggleVisibilityTooltip"
        tooltipPosition="top"
      />
      <ng-template #toggleVisibilityTooltip>
        <div class="flex align-items-center">
          <span>{{ tooltipMessage() }}</span>
        </div>
      </ng-template>
    </div>
    @if (isInvalid('password')) {
    <app-password-requirements
      [password]="authFormGroup.get('password')?.value"
    />
    }

    <div class="password-input">
      <input
        formControlName="confirmPassword"
        pInputText
        placeholder="Confirm Password"
        [type]="showConfirmPassword() ? 'text' : 'password'"
      />

      <p-button
        [icon]="confirmIcon()"
        [rounded]="true"
        (onClick)="toggleConfirmPasswordVisibility()"
        [severity]="confirmSeverity() ? 'success' : 'danger'"
        [pTooltip]="toggleConfirmVisibilityTooltip"
        tooltipPosition="top"
      />
      <ng-template #toggleConfirmVisibilityTooltip>
        <div class="flex align-items-center">
          <span>{{ tooltipConfirmMessage() }}</span>
        </div>
      </ng-template>
    </div>
    @if(isInvalid('confirmPassword')) {
    <app-password-requirements
      [password]="authFormGroup.get('confirmPassword')?.value"
    />
    } @if(authFormGroup.errors?.['passwordMissmatch']) {
    <div class="validation-messages">
      <span class="block">Passwords missmatch. </span>
    </div>
    }
    <p-multiSelect
      [options]="viewModel().roles"
      formControlName="selectedRoles"
      optionLabel="name"
      placeholder="Select Roles"
    />
    @if(isInvalid('selectedRoles')) {
    <div class="validation-messages">
      @if(authFormGroup.controls['selectedRoles'].errors?.['required']) {
      <div>
        Roles are required!
      </div>
      }
    </div>
    }
    <p-select
      formControlName="employee"
      [options]="viewModel().employees"
      optionLabel="name"
      placeholder="Select a Employee"
      dataKey="id"
    />
    @if(isInvalid('employee')) {
    <div class="validation-messages">
      @if(authFormGroup.controls['employee'].errors?.['required']) {
      <div>
        Employee is required!
      </div>
      }
    </div>
    }
    <p-button [disabled]="authFormGroup.invalid" label="Submit" type="submit" />
  </form>
  @if(viewModel().loading) {
  <div class="card flex justify-center progress-spinner">
    <p-progress-spinner ariaLabel="loading" />
  </div>
  }
</div>
<p-toast [life]="life" />
