<h1>
  Login
</h1>
<form class="auth-form" [formGroup]="authFormGroup" (ngSubmit)="submit()">
  <input formControlName="username" pInputText placeholder="Username" />
  @if(authFormGroup.controls['username'].invalid &&
  authFormGroup.controls['username'].dirty) {
  <div class="validation-messages">
    @if(authFormGroup.controls['username'].errors?.['required']) {
    <span class="block">Username is required!</span>
    }
  </div>
  }

  <div class="password-input">
    <input
      formControlName="password"
      pInputText
      placeholder="Password"
      [type]="showPassword() ? 'text' : 'password'"
    />

    <p-button
      [icon]="icon()"
      [rounded]="true"
      (onClick)="togglePasswordVisibility()"
      [severity]="severity() ? 'success' : 'danger'"
      [pTooltip]="toggleVisibilityTooltip"
      tooltipPosition="top"
    />
    <ng-template #toggleVisibilityTooltip>
      <div class="flex align-items-center">
        <span>{{ tooltipMessage() }}</span>
      </div>
    </ng-template>
  </div>
  @if(authFormGroup.controls['password'].invalid &&
  authFormGroup.controls['password'].dirty) {
  <div class="validation-messages">
    @if(authFormGroup.controls['password'].errors?.['required']) {
    <span class="block">Password is required!</span>
    }
  </div>
  }
  <p-button [disabled]="authFormGroup.invalid" label="Submit" type="submit" />
</form>
@if(viewModel().loading) {
<div class="card flex justify-center progress-spinner">
  <p-progress-spinner ariaLabel="loading" />
</div>
}
