<div class="card">
  <form
    class="department-form"
    [formGroup]="departmentFormGroup"
    (ngSubmit)="submit()"
  >
    <input [readOnly]="disable" formControlName="name" pInputText placeholder="Name of department" />
    <div
    class="validation-messages"
      *ngIf="departmentFormGroup.controls['name'].invalid && departmentFormGroup.controls['name'].touched"
    >
      <div *ngIf="departmentFormGroup.controls['name'].errors?.['required']">
        Name is required!
      </div>
      <div *ngIf="departmentFormGroup.controls['name'].errors?.['minlength']">
        Name must be longer than 5 characters!
      </div>
      <div *ngIf="departmentFormGroup.controls['name'].errors?.['maxlength']">
        Name must be shorter than 25 characters!
      </div>
    </div>
    <div class="action-buttons">
      <p-button severity="danger" label="Cancel" (onClick)="cancel(false)" />
      <p-button severity="success" *ngIf="!disable" [disabled]="departmentFormGroup.invalid" label="Submit" type="submit" />
    </div>
  </form>
</div>
