<div class="card">
  @if(!viewModel().roles.length) {
  <div>
    <p>
      You're not logged in please press button below or go to menu Users to
      login.
    </p>
    <p-button
      icon="pi pi-sign-in"
      [rounded]="true"
      severity="danger"
      [pTooltip]="loginTooltip"
      tooltipPosition="top"
      routerLink="/auth/login"
    />
    <ng-template #loginTooltip>
      <div class="flex align-items-center">
        <span>Login</span>
      </div>
    </ng-template>
  </div>
  } @else {
  <div>
    <app-home-panel
      [employee]="viewModel().employee"
      [projectsHistory]="viewModel().projectsHistory"
      [departmentEmployees]="viewModel().departmentEmployees"
      [page]="viewModel().page"
      [activeProject]="viewModel().activeProject"
    />
  </div>
  } @if(viewModel().loading) {
  <div class="card flex justify-center progress-spinner">
    <p-progress-spinner ariaLabel="loading" />
  </div>
  }
</div>
<p-toast [life]="life" />
